.top-users {
  position: sticky;
  top: 0.8rem;
}
.top-users__section {
  background-color: var(--white-primary);
  box-shadow: var(--container-box-shadow);
  padding: 1.1rem;
}

.top-users__section h2 {
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--font-clr-heading);
  margin-bottom: 0.5rem;
}

.top-users__add {
  margin-bottom: 3.1rem;
}
