.reset-password {
  background-color: var(--bg-clr);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password__section {
  padding: 2rem;
  background-color: var(--white-primary);
  box-shadow: var(--container-box-shadow);
}
