.navbar-ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar-ul li {
  list-style: none;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
  color: var(--font-clr-heading);
}

.navbar-ul li a {
  text-decoration: none;
  color: var(--font-clr-heading);
  font-weight: 700;
  padding: 0.2rem 0.8rem;
  transition: background-color 0.2s ease-in-out;
}
.navbar-ul li a:hover {
  background-color: var(--bs-gray-300);
}
.navbar-ul li a.active {
  background-color: var(--bs-gray-300);
  font-weight: bold;
}

.navbar--hamburger-menu,
.navbar--close-menu {
  border: none;
  background: none;
  font-size: var(--font-size-lg);
}
.navbar--hamburger-menu,
.navbar--close-menu {
  display: none;
}
/* Mobile - Tablet menu */

@media screen and (max-width: 768px) {
  .navbar--hamburger-menu {
    display: flex;
  }
  .navbar--close-menu {
    display: block;
    width: 100%;
    text-align: right;
    margin-bottom: 2.3rem;
  }
  .navbar-ul {
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.3s ease;
  }
  .navbar-ul li {
    display: none;
  }

  .mobile-menu.active {
    position: fixed;
    display: block;
    padding: 1rem;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: var(--white-primary);
    z-index: 9999;
    box-shadow: var(--container-box-shadow);
    transition: all 0.3s ease-in-out;
  }

  .mobile-menu.active li {
    display: block;
    list-style: none;
    margin-right: 0;
    width: 100%;
    padding: 1rem 0.7rem;
  }
}
