.btn-form {
  width: max-content;
  padding: 0.8rem 1rem;
  color: var(--white-primary);
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: var(--blue-primary-clr);
  border: none;
  border-radius: var(--border-small-radius);
  font-weight: bold;
  font-size: var(--font-size-sm);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}
.btn-form.disabled {
  background-color: var(--bs-gray-200);
  pointer-events: none;
}
.register,
.login,
.add-question,
.comment,
.ask-question {
  background-color: var(--blue-primary-clr);
  border: none;
  border-radius: var(--border-small-radius);
  font-weight: bold;
  font-size: var(--font-size-sm);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.comment,
.ask-question {
  width: max-content;
}

.register:hover,
.login:hover,
.add-question:hover,
.comment:hover,
.ask-question:hover {
  background-color: var(--blue-secondary-clr-dark);
}
