@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Beacuse of the Bootsrap !important has to be used */
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Source Serif Pro", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --blue-primary-clr: #3d5bf1;
  --red-primary-clr: #dd3d55;
  --blue-secondary-clr: #d2d7f3;
  --blue-secondary-clr-dark: #4155b8;
  --bg-clr: #e9e9e9;
  --icon-size-large: 1.5rem;
  --icon-size-normal: 1.5rem;
  --icon-size-small: 1.2rem;
  --font-clr-heading: #333232;
  --font-clr-body: #8a8787;
  --header-color: #ffffff;
  --white-primary: #ffffff;
  --container-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --border-small-radius: 0.2rem;
}
